// Import your custom theme
@import 'clst-theme.scss';

$doc-section-pad: 2rem;

/* NgMat Overrides */
mat-checkbox {
  margin-bottom: 0.5rem;
  display: block;
}
.mat-card {
  background: transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  &:not(:first-child) {
    padding-top: 0;
  }
  &.sub-header {
    padding-bottom: 0;
    h1 {
      padding-left: 0;
      border-left: none;
    }
  }
}

/* Layout */
.content-container {
  padding: $doc-section-pad;
  background-color: #fff;
  border-radius: 0.3em;
}
.sub-header-container :first-child {
  border-radius: 0.3em;
}
.flex-repeated {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.elem-highlight {
  @extend .flex-container;
  flex-grow: 1;
  margin: 0;
  background-color: white;
}
.rep-level {
  padding: 0;
}
.heading-actions {
  margin: 2rem 0 0 0;
  padding: 1rem 0;
  background: mat-color($clst-app-accent);
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  button {
    vertical-align: middle;
    margin: 0 0 1.25em 0;
    clear: right;
    display: block;
    color: #fff;
    opacity: 0.4;
    &:last-child {
      margin-bottom: 0;
    }
    i {
      font-size: 1.5rem;
      clear: right;
      display: block;
      &.arrow {
        line-height: .5;
      }
    }
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

/* Design */
h1 {
  color: mat-color($clst-app-primary);
  border-left: 5px solid mat-color($clst-app-primary);
  padding-left: 1.2rem;

  &.clst-accented {
    color: mat-color($clst-app-secondary);
    border-left: 5px solid mat-color($clst-app-secondary);
  }
}
h2 {
  font-weight: normal;
}
.as-link {
  border: none;
  background: transparent;
  cursor: pointer;
}
.clst-actions {
  color: mat-color($clst-app-primary);
}

/* Form related */
.control-group {
  display: block;
  margin-bottom: 0.5rem;
  clear:right;
  label {
    display: none;
  }
}
button.mat-flat-button {
  min-height: 38px;
  min-width: 120px;
  border-radius: 5px;
  color: #fff;

  &.clst-item-primary {
    background-color: mat-color($clst-app-primary);
  }
  &.clst-item-accent {
    background-color: mat-color($clst-app-accent);
  }
  &.clst-secondary {
    background-color: mat-color($clst-app-tertiary)
  }
}
.clst-form-submit {
  display: inline-block;

  button {
    width: 110px;
    height: 38px;
    display:none;

    .material-icons {
      line-height: inherit;
      vertical-align: top;
    }

    &.post-submit {
      color: mat-color($clst-app-primary);
    }
  }
  &.pre-submit .pre-submit,
  &.in-progress .in-progress,
  &.post-submit .post-submit {
    display: inline-block;
  }
}
.clst-btn-grp {
  display: inline-block;
  button {
    margin-right: 0.5rem;
  }
}
.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 12px;
  height: 12px;
  background-color: mat-color($clst-app-primary);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}