@import "../../styles/shared";

$border-color: #949494;

tag-input {
  padding-bottom: 3em;
}

#form-spinner {
  margin: 2em 0;
}

::ng-deep {
  #tags .ng2-tag-input {
    min-height: 0;
    border-bottom: 1px solid $border-color;

    input.clst-ngxc-input {
      padding: 0;
      height: auto;
      background: transparent;
    }

    .ng2-tags-container {
      tag {
        border-radius: 3px;
        height: auto;
        line-height: 1.3;
      }

      delete-icon {
        &:hover {
          transform: scale(1.3) translateY(0.1px);
        }
        svg {
          height: auto;
        }
      }
    }
  }
}