@import "../../../styles/shared";

.clst-tag-edit-container {
  background-color: #fff;
}
.tag-layout {
  width: 100%;
  display: block;
  margin-bottom: 1.5em;
}
.color-picker {
  border: 1px solid #ccc;
  width: 1.5em;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}
.mat-input-element.color-picker-text {
  width: 80%;
  margin-top: 0.3em;
  position: relative;
  left: 1.8rem;
}
.important {
  font-size: 1.1em;
  margin-bottom: 1.5em;
}
.warning {
  background-color: red !important;
}
.clst-btn-container {
  width: 100%;
  .clst-form-submit {
    margin-right: 0.5rem;
  }
}
.clst-cancel {
  @extend .clst-secondary;
  float: right;
}
.clst-lt-sm-res .clst-cancel {
  float: none;
  margin-top: 0.5rem;
}
.mat-option .material-icons {
  vertical-align: text-bottom;
}