.tag-example {
  position: relative;
  div {
    float: left;
  }
  .arrow-right {
    z-index: 100;
    position: relative;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 11px solid transparent;
    right: 1px;
    top: 1px;
  }
  .arrow-right-brdr {
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 10px solid #b9b9b9;
    left: 5.6rem;
  }
  .tag-label {
    min-width: 5rem;
    max-width: 5rem;
    border: 1px solid #b9b9b9;
    padding: 0 0.3em;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .tag-label-icon {
    width: 1rem;
    .material-icons {
      font-size: 1em;
      vertical-align: middle;
      padding-bottom: 0.2em;
      max-width: 1rem;
    }
  }
  .tag-label-text {
    font-size: 0.9em;
    width: 4rem;
  }
}