@import "../../../styles/shared";

#form-spinner {
  margin: 2em 0;
}

.doc-tags-container {
  overflow: auto;
  color: #ccc;
  font-size: 0.7rem;
  margin-bottom: 0.8rem;

  .dt-label {
    float: left;
  }
  .doc-tags {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding-left: 0.4rem;
      float: left;

      i {
        font-size: 1rem;
        vertical-align: text-bottom;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }
}
.as-value ::ng-deep {
  img {
    @extend .clst-flx-txt-img;
  }
  iframe {
    @extend .clst-flx-txt-iframe;
  }
  .ql-align-center {
    @extend .clst-flx-txt-align-center;
  }
  .ql-align-justify {
    @extend .clst-flx-txt-align-justify;
  }
  .ql-align-right {
    @extend .clst-flx-txt-align-right;
  }
  .ql-video.ql-align-center {
    @extend .clst-flx-txt-video-align-center;
  }
  .ql-video.ql-align-right {
    @extend .clst-flx-txt-video-align-right;
  }
}