@import "../../../styles/shared";

#form-spinner {
  margin: 2em 0;
}

.clst-doc-title-container {
  background: #073763;
  border-radius: 3px 3px 0 0;
  border-bottom: 0.5rem solid $default-section-background;
  margin: -2rem -2rem 2rem -2rem;
  position: relative;
  .clst-doc-title-bg {
    position: absolute;
    opacity: 0.1;
    top: 1rem;
    right: -2rem;
    width: 25%;
    &.clst-lt-sm-res { // max-width: 599px
      right: -3rem;
      width: 40%;
      @media screen and (max-width: 320px) {
        top: unset;
        bottom: -1rem;
      }
      @media screen and (min-width: 481px) and (max-width: 599px) {
        width: 30%;
      }
    }
  }
  h1.clst-doc-title {
    font-family: Merriweather, serif;
    font-size: 2rem;
    color: #fff;
    padding: 2rem 2rem 2rem 2.1rem;
    margin: 0;
    border-left: none;
  }
}

.clst-checklist-items {
  background: $default-section-background;
}

.skip-to-container {
  background: $default-section-background;
  color: #696969;
  margin: 2rem -2rem -2rem -2rem;
  padding: 1rem 2rem;
  overflow: auto;
  border-radius: 0 0 3px 3px;
  display: flex;

  .st-label {
    font-size: 0.75rem;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
  }
  .skip-to-section {
    font-size: 0.8rem;
    margin: 0.04rem 0 0 0;
    padding: 0;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    line-height: 1.6;

    li {
      display: inline;
      padding-right: 0.4rem;
      float: left;
      &::after {
        content: ","
      }
      &:last-child::after {
        content: ""
      }
    }
  }
}

.clst-actions-container {
  padding-bottom: 1.5rem;
  .clst-actions {
    margin-bottom: 0;
    margin-top: -1rem;
    border-left: none;
    padding-left: 2rem;
  }
  .clst-action-msg {
    margin-top: 1rem;
  }
}

.as-value ::ng-deep {
  img {
    @extend .clst-flx-txt-img;
  }
  iframe {
    @extend .clst-flx-txt-iframe;
  }
  .ql-align-center {
    @extend .clst-flx-txt-align-center;
  }
  .ql-align-justify {
    @extend .clst-flx-txt-align-justify;
  }
  .ql-align-right {
    @extend .clst-flx-txt-align-right;
  }
  .ql-video.ql-align-center {
    @extend .clst-flx-txt-video-align-center;
  }
  .ql-video.ql-align-right {
    @extend .clst-flx-txt-video-align-right;
  }
  h1, h2, h3, h4, h5, h6 {
    @extend .clst-h-adjust;
  }
}
.as-value.clst-lt-sm-res ::ng-deep iframe {
  width: 100%;
  max-width: 100%;
}