<form novalidate *ngIf="clstData; else loading" [formGroup]="clForm">
  <mat-card>
    <div class="content-container">
      <div class="clst-doc-title-container">
        <img src="/assets/ch.ckl.st.svg" class="clst-doc-title-bg" ngClass.lt-sm="clst-lt-sm-res" alt="ch.ckl.st logo">
        <h1 class="clst-h-accented clst-doc-title">{{clstData.documentTitle}}</h1>
      </div>
      <div *ngIf="clstData.flexibleText" class="as-value" ngClass.lt-sm="clst-lt-sm-res" [innerHTML]="displayHtml" clstResizeElement></div>
      <div class="doc-tags-container" *ngIf="clstData.documentTags.length">
        <div class="dt-label"><i class="material-icons">bookmark_border</i>Tags:</div>
        <ul class="doc-tags">
          <li *ngFor="let tag of clstData.documentTags">{{tag.display}}</li>
        </ul>
      </div>
    </div>
  </mat-card>
  <mat-card *ngFor="let section of clstData.sections; let i = index">
    <div class="content-container clst-checklist-items">
      <clst-use-section [sectionForm]="getSection(i)"
                        [sectionData]="section"
                        [sectionIndex]="i"
                        [hasItemTags]="hasItemTags">
      </clst-use-section>
    </div>
  </mat-card>
  <mat-card *ngIf="!sharePreview">
    <div class="content-container clst-actions-container">
      <ng-container *ngIf="!isAnon">
        <h2 class="clst-actions">Checklist Actions</h2>
        <div class="clst-btn-grp">
          <button mat-flat-button type="button" class="clst-item-primary" (click)="editChecklist()">Edit <i class="material-icons">format_list_bulleted</i></button>
          <button mat-flat-button type="button" class="clst-item-primary" (click)="shareChecklist()">Share <i class="material-icons">share</i></button>
          <button mat-flat-button type="button" class="clst-item-primary" (click)="cloneChecklist()">Copy <i class="material-icons">add_circle</i></button>
        </div>
      </ng-container>
      <p class="clst-action-msg"><i class="material-icons">autorenew</i> Your use of this checklist is saved automatically.</p>
    </div>
  </mat-card>
</form>
<ng-template #loading>
  <mat-card >
    <div class="content-container">
      <ng-container *ngIf="noData; else loadingSpinner">
        <h1>Checklist Not Found</h1>
        <p>A checklist is not associated with this URL.</p>
      </ng-container>
      <ng-template #loadingSpinner>
        <div id="form-spinner" class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </ng-template>
    </div>
  </mat-card>
</ng-template>