<form novalidate *ngIf="clstData; else loading" [formGroup]="clForm">
  <mat-card>
    <div class="content-container">
      <h1>{{clstData.documentTitle}}</h1>
      <div class="doc-tags-container">
        <div class="dt-label">Document tags:</div>
        <ul class="doc-tags">
          <li *ngFor="let tag of clstData.documentTags">
            <i class="material-icons">bookmark_border</i>{{tag.display}}
          </li>
        </ul>
      </div>
    </div>
  </mat-card>
  <mat-card *ngFor="let section of clstData.sections; let i = index">
    <div class="content-container">
      <clst-use-section [sectionForm]="getSection(i)"
                        [sectionData]="section"
                        [sectionIndex]="i"
                        [hasItemTags]="hasItemTags">
      </clst-use-section>
    </div>
  </mat-card>
  <mat-card *ngIf="!sharePreview">
    <div class="content-container">
      <h2 class="clst-actions">Checklist Actions</h2>
      <div class="clst-btn-grp">
        <div clstSubmitButton [reset]="reset()" (continue)="onSubmit()" class="clst-form-submit">
          <button class="pre-submit" mat-flat-button type="button">
            Save <i class="material-icons">save</i>
          </button>
          <button class="in-progress" mat-flat-button type="button" disabled="disabled">
            <div id="inProgress" class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </button>
          <button class="post-submit" mat-flat-button type="button" disabled="disabled">
            Success <i class="material-icons">check_circle</i>
          </button>
        </div>
        <ng-container *ngIf="!isAnon">
          <button mat-flat-button type="button" class="clst-secondary" (click)="editChecklist()">Edit <i class="material-icons">swap_vertical_circle</i></button>
          <button mat-flat-button type="button" class="clst-secondary" (click)="shareChecklist()">Share <i class="material-icons">share</i></button>
          <button mat-flat-button type="button" class="clst-secondary" (click)="cloneChecklist()">Copy <i class="material-icons">add_circle</i></button>
        </ng-container>
      </div>
    </div>
  </mat-card>
</form>
<ng-template #loading>
  <mat-card >
    <div class="content-container">
      <ng-container *ngIf="noData; else loadingSpinner">
        <h1>Checklist Not Found</h1>
        <p>A checklist is not associated with this URL.</p>
      </ng-container>
      <ng-template #loadingSpinner>
        <div id="form-spinner" class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </ng-template>
    </div>
  </mat-card>
</ng-template>