@import "../../../styles/shared";

#form-spinner {
  margin: 2em 0;
}

.clst-doc-title-container {
  background: #073763;
  border-radius: 3px 3px 0 0;
  border-bottom: 0.5rem solid #f3f7fb;
  margin: -2rem -2rem 2rem -2rem;
  position: relative;
  .clst-doc-title-bg {
    position: absolute;
    opacity: 0.1;
    top: 1rem;
    right: 1rem;
    width: 25%;
  }
  h1.clst-doc-title {
    font-family: Merriweather, serif;
    font-size: 2rem;
    color: #fff;
    padding: 2rem 2rem 2rem 2.1rem;
    margin: 0;
    border-left: none;
  }
}

.clst-checklist-items {
  background: #f3f7fb;
}

.doc-tags-container {
  background: #f3f7fb;
  color: #696969;
  margin: 2rem -2rem -2rem -2rem;
  padding: 1rem 2rem;
  overflow: auto;
  font-size: 0.75rem;
  border-radius: 0 0 3px 3px;
  display: flex;

  .dt-label {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    i {
      font-size: 1rem;
      vertical-align: text-bottom;
      margin-bottom: -1px;
    }
  }
  .doc-tags {
    margin: 0.04rem 0 0 0;
    padding: 0;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    line-height: 1.6;

    li {
      display: inline;
      padding-right: 0.4rem;
      float: left;
      &::after {
        content: ","
      }
      &:last-child::after {
        content: ""
      }
    }
  }
}
.as-value ::ng-deep {
  img {
    @extend .clst-flx-txt-img;
  }
  iframe {
    @extend .clst-flx-txt-iframe;
  }
  .ql-align-center {
    @extend .clst-flx-txt-align-center;
  }
  .ql-align-justify {
    @extend .clst-flx-txt-align-justify;
  }
  .ql-align-right {
    @extend .clst-flx-txt-align-right;
  }
  .ql-video.ql-align-center {
    @extend .clst-flx-txt-video-align-center;
  }
  .ql-video.ql-align-right {
    @extend .clst-flx-txt-video-align-right;
  }
  h1, h2, h3, h4, h5, h6 {
    @extend .clst-h-adjust;
  }
}
.clst-lt-sm-res ::ng-deep iframe {
  width: 100%;
  max-width: 100%;
}