<mat-card>
  <div class="content-container shareable-checklists">
    <h1 class="clst-heading">Create professional, shareable checklists.</h1>
    <h2 class="clst-sub-heading">Instantly usable & customizable by your users.</h2>
    <p>Publish checklists that people can easily customize, use and re-share.</p>
    <div class="clst-home-action">
      <a routerLink="/register" mat-button><i class="material-icons">radio_button_checked</i> Get Started</a>
    </div>
  </div>
</mat-card>
<mat-card>
  <div class="content-container clst-secondary">
    <h2>Why Checklists Matter</h2>
    <h3>Checklists help people to:</h3>
    <ol class="clst-benefits">
      <li>Organize themselves.</li>
      <li>Take action.</li>
      <li><a href="http://atulgawande.com/book/the-checklist-manifesto/">Avoid mistakes</a>.</li>
    </ol>
    <p>In fact, there are <a href="https://duckduckgo.com/?q=checklists+are+important">many benefits to using checklists</a>.</p>
    <div class="clst-samples-container">
      <div class="clst-samples">
        <div class="clst-sample">
          <div class="clst-sample-item clst-sample-img clst-sample-light-img"><img src="../../../assets/climate-change.png" alt="climate change checklist"></div>
          <div class="clst-sample-item clst-sample-link"><a href="https://ch.ckl.st/share/5bedb5a141b36800db44faaa">Climate change <div class="clst-sample-sml">checklist example</div></a></div>
        </div>
        <div class="clst-sample">
          <div class="clst-sample-item clst-sample-img"><img src="../../../assets/browser-logos.png" alt="web development checklist"></div>
          <div class="clst-sample-item clst-sample-link"><a href="https://ch.ckl.st/share/5c2e50be5205c0004ad11b4d">Web development <div class="clst-sample-sml">checklist example</div></a></div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<mat-card>
  <div class="content-container diffused">
    <h1 class="closing-action">Start a Checklist Today</h1>
    <h3>Usage is <div class="clst-sup">*</div><strong>free</strong>. We respect and value <a href="https://voice.ch.ckl.st/privacy-matters/">privacy</a>.</h3>
    <div class="clst-home-action">
      <a routerLink="/register" mat-button><i class="material-icons">radio_button_checked</i> Sign Up</a>
    </div>
    <p class="clst-sml-print">During the current beta-test phase, registration is free. These accounts and any future accounts created as a result of people using your shared checklists will remain free for life.</p>
  </div>
</mat-card>
<mat-card>
  <div class="content-container">
    <h2>Final Wise Words</h2>
    <p>It is always better to... "check yo self, before you wreck yo self."</p>
    <div class="media-container">
      <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/253010032&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
  </div>
</mat-card>