<mat-card>
  <div class="content-container">
    <h1>Professional, Shareable Checklists</h1>
    <h2>Give your audience and friends the convenience of instantly usable checklists.</h2>
    <p>You create and share, they then simply use or customize and even re-share themselves.</p>
    <div class="clst-home-actions">
      <h2>Get Started</h2>
      <div class="clst-home-action">
        <a routerLink="/login" mat-button><i class="material-icons">play_circle_filled</i> Login</a>
      </div>
      <div class="clst-home-action">
        <a routerLink="/register" mat-button><i class="material-icons">radio_button_checked</i> Register</a>
      </div>
    </div>
  </div>
</mat-card>
<mat-card>
  <div class="content-container">
    <h3>Why Checklists Matter</h3>
    <p>Checklists help you to... better check yo self, before you wreck yourself.</p>
    <div class="media-container">
      <iframe width="468" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/253010032&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
  </div>
</mat-card>