<mat-card>
  <div class="content-container shareable-checklists">
    <h1>Professional, Shareable Checklists</h1>
    <h2>Give your audience and friends the convenience of instantly usable checklists.</h2>
    <p>You create and share, they then simply use or customize and even re-share themselves.</p>
    <div class="clst-home-actions">
      <div class="clst-home-action">
        <a routerLink="/register" mat-button><i class="material-icons">radio_button_checked</i> Get Started</a>
      </div>
      <p>Registered users can <a routerLink="/login">login</a>.</p>
    </div>
  </div>
</mat-card>
<mat-card>
  <div class="content-container">
    <h2>Why Checklists Matter</h2>
    <h3>Checklists help people:</h3>
    <div class="clst-home-checklist">
      <mat-checkbox checked="true">Organize themselves.</mat-checkbox>
      <mat-checkbox checked="true">Take action.</mat-checkbox>
      <mat-checkbox checked="true"><a href="http://atulgawande.com/book/the-checklist-manifesto/">Avoid mistakes</a>.</mat-checkbox>
    </div>
    <p>In fact, there are <a href="https://duckduckgo.com/?q=checklists+are+important">many benefits to using checklists</a>.</p>
  </div>
</mat-card>
<mat-card>
  <div class="content-container diffused">
    <h2>And We Can All Agree</h2>
    <p>It is always better to... "check yo self, before you wreck yourself."</p>
    <div class="media-container">
      <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/253010032&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
  </div>
</mat-card>
<mat-card>
  <div class="content-container">
    <h1 class="closing-action">Start a Checklist Today</h1>
    <div class="clst-home-actions closing-actions">
      <div class="clst-home-action">
        <a routerLink="/register" mat-button><i class="material-icons">radio_button_checked</i> Register</a>
      </div>
      <p><strong>Usage is free</strong>. We respect and value privacy.</p>
    </div>
  </div>
</mat-card>