@import "../../../styles/shared";

:host {
  @extend .clst-host-animate;
}

.content-container {
  padding-bottom: 0;
}

.share-actions {
  padding: 1.5rem 2rem 2rem 2rem;
  background-color: $sub-header-card-background;

  h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }

  .share-text {
    color: white;
    i {
      color: orange;
      opacity: 1;
      padding-bottom: 0.3rem;
      vertical-align: bottom;
    }
  }

  .clst-link-sharing {
    display: flex;
    align-items: center;
  }

  .share-action-btns {
    margin-bottom: 1rem;

    + .share-text {
      margin: 0;
    }
  }

  input {
    border: none;
    padding: 0.4rem;
    border-radius: 0.3em;
    width: 100%;
  }

  button {
    margin-right: 0.5rem;
  }
}
