@import "../../../styles/shared";

:host {
  @extend .clst-host-animate;
}

.content-container {
  padding-bottom: 0;
}

.share-actions {
  padding: 1.5rem 2rem 2rem 2rem;
  background-color: mat-color($clst-app-secondary);

  h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }

  .share-text {
    color: white;
    i {
      color: orange;
      opacity: 1;
      padding-bottom: 0.3rem;
      vertical-align: bottom;
    }
  }

  .share-action-btns {
    margin-bottom: 1rem;

    + .share-text {
      margin: 0;
    }
  }

  input {
    border: none;
    padding: 0.4rem;
    margin-bottom: 0.2rem;
    border-radius: 0.3em;
  }

  button {
    margin-right: 0.5rem;
    min-height: 0;
    min-width: 0;
    line-height: 2;
    padding: 0 1.4rem 0.2rem 1.4rem;
  }
}