<mat-card class="sub-header">
  <div class="sub-header-container">
    <div class="flex-container share-actions">
      <h1 class="share-text"><i class="material-icons">warning</i> Save this URL</h1>
      <p class="share-text">You are using this checklist anonymously. If you fail to save this link, you will lose access to this checklist.</p>
      <input [value]="link" type="text">
      <div>
        <button type="button" mat-flat-button class="clst-item-primary" ngxClipboard [cbContent]="link" (click)="copyLabel='Copied'">{{copyLabel}}</button>
      </div>
    </div>
  </div>
</mat-card>
<clst-use-root [isAnon]="true"></clst-use-root>