<div [formGroup]="section" class="section-highlight rep-level">
    <div class="elem-highlight">
        <mat-form-field class="control-group">
            <label for="title">Section Heading</label>
            <input matInput placeholder="Section heading" type="text" id="title" formControlName="title">
        </mat-form-field>
        <mat-form-field class="control-group">
            <label for="flexibleText">Description or Introduction</label>
            <input matInput placeholder="Description or introduction" type="text" id="flexibleText" formControlName="flexibleText">
        </mat-form-field>
        <h3>Checklist Items</h3>
        <div formArrayName="checklistItems" class="clist-item">
            <clst-checklist-item *ngFor="let checklistItem of section.controls.checklistItems.controls; let i=index" [formGroupName]="i" [checklistItem]="checklistItem" [checklistItemIndex]="i">
            </clst-checklist-item>
        </div>
    </div>
    <div class="heading-actions">
        <button class="as-link" type="button" (click)="addSection(sectionIndex)" title="Add section above">
            <i class="material-icons arrow">arrow_drop_up</i>
            <i class="material-icons">add_circle_outline</i>
        </button>
        <button class="as-link" type="button" (click)="removeSection(sectionIndex)" title="Delete this section">
            <i class="material-icons">remove_circle_outline</i>
        </button>
        <button class="as-link" type="button" (click)="addSection(sectionIndex + 1)" title="Add section below">
            <i class="material-icons">add_circle_outline</i>
            <i class="material-icons arrow">arrow_drop_down</i>
        </button>
    </div>
</div>