<div [formGroup]="section" class="section-highlight rep-level">
    <button type="button" (click)="addSection(sectionIndex)">+</button>
    <h2>Section</h2>
    <div class="elem-highlight">
        <label for="title">Section Heading</label><input type="text" id="title" formControlName="title">
        <label for="flexibleText">Description or Introduction</label><input type="text" id="flexibleText" formControlName="flexibleText">
        <div formArrayName="checklistItems">
            <clst-checklist-item *ngFor="let checklistItem of section.controls.checklistItems.controls; let i=index" [formGroupName]="i" [checklistItem]="checklistItem" [checklistItemIndex]="i">
            </clst-checklist-item>
        </div>
    </div>
    <button type="button" (click)="addSection(sectionIndex + 1)">+</button>
</div>