<mat-card class="section-highlight">
    <div class="content-container elem-highlight">
        <h2 class="clst-h-faint">Section</h2>
        <div [formGroup]="section" class="rep-level">
            <mat-form-field class="control-group">
                <label for="title">Section title</label>
                <input matInput placeholder="Section title" type="text" id="title" formControlName="title" [errorStateMatcher]="matcher">
                <mat-error *ngIf="section.hasError('titleOrDescriptionRequired')">* Title or description is required for this section.</mat-error>
            </mat-form-field>
            <div class="control-group mat-form-field mat-form-field-appearance-legacy"
                [class.mat-form-field-invalid]="errorEval()"
                (focusout)="onBlur()">
                <div class="mat-form-field-wrapper">
                    <div class="mat-form-field-flex">
                        <clst-flex-text
                          clstResizeElement
                          [control]="section.get('flexibleText')"
                          [hasError]="errorEval()"
                          [inFocusObs]="inFocusObs"
                          label="Section description">
                        </clst-flex-text>
                    </div>
                    <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span></div>
                    <div class="mat-form-field-subscript-wrapper">
                        <mat-error *ngIf="errorEval()">* Title or description is required for this section.</mat-error>
                    </div>
                </div>
            </div>
            <h3 class="clst-h-faint">Checklist Items</h3>
            <div formArrayName="checklistItems" class="clist-item">
                <clst-checklist-item *ngFor="let checklistItem of section.controls['checklistItems']['controls']; let i=index" [formGroupName]="i" [checklistItem]="checklistItem" [checklistItemIndex]="i" [section]="section">
                </clst-checklist-item>
            </div>
        </div>
    </div>
    <div class="heading-actions">
        <button class="as-link" type="button" (click)="addSection(sectionIndex)" title="Add section above">
            <i class="material-icons arrow">arrow_drop_up</i>
            <i class="material-icons">add_circle_outline</i>
        </button>
        <button class="as-link" type="button" (click)="confirmSectionDelete(sectionIndex)" title="Delete this section">
            <i class="material-icons">remove_circle_outline</i>
        </button>
        <button class="as-link" type="button" (click)="addSection(sectionIndex + 1)" title="Add section below">
            <i class="material-icons">add_circle_outline</i>
            <i class="material-icons arrow">arrow_drop_down</i>
        </button>
    </div>
</mat-card>