@import "../../../styles/shared";

.section-highlight {
  @extend .flex-repeated;
}

mat-card {
  padding-top: 0;
}

clst-checklist-item:not(:last-child) {
  display: block;
  margin-bottom: 0.1rem;
}