<div [formGroup]="checklistItem" class="item-highlight rep-level">
  <div class="elem-highlight" [class.lose-focus]="displayTagEditComp">
    <mat-form-field class="control-group">
      <label for="label">Item label</label>
      <input matInput placeholder="Item label" type="text" id="label" formControlName="label">
      <mat-error *ngIf="testReq('label')">* This field is required.</mat-error>
    </mat-form-field>
    <div class="control-group mat-form-field mat-form-field-appearance-legacy" (focusout)="onBlur()">
      <div class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <clst-flex-text
            [control]="checklistItem.get('flexibleText')"
            [inFocusObs]="inFocusObs"
            label="Item description">
          </clst-flex-text>
        </div>
        <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span></div>
      </div>
    </div>
    <label class="clst-label-heading">Item Tags</label>
    <div formArrayName="checklistTagsEnabled" class="clst-tags-display" *ngIf="checklistTagsEnabled.controls.length">
      <div class="clst-tag" *ngFor="let checklistTagEnabled of checklistTagsEnabled.controls; let i=index" [formGroupName]="i">
        <input type="checkbox" formControlName="tag" [id]="i">
        <label [for]="i">
        <clst-tag-display class="tag-layout" [color]="tags[i].color" [label]="tags[i].label" [icon]="tags[i].icon"></clst-tag-display>
        </label>
        <div *ngIf="displayEditTagOptions">
          <button (click)="updateTag(i)" class="as-link clst-tag-updates" title="Edit"><i class="material-icons">edit</i></button>
          <button (click)="deleteTag(i)" class="as-link clst-tag-updates" title="Delete"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
    <div class="clst-btn-grp" *ngIf="!displayTagEditComp">
      <button class="clst-item-accent clst-sml-btn" type="button" (click)="displayTagEditComp = true">Create tag</button>
      <button class="clst-item-accent clst-sml-btn" type="button" *ngIf="checklistTagsEnabled.controls.length" (click)="editTags()">Edit tags</button>
    </div>
    <clst-checklist-item-tag-edit *ngIf="displayTagEditComp" [checklistItem]="checklistItem" [tagProps]="pushTagInfo" (tagAdded)="clearTagEdit()">
    </clst-checklist-item-tag-edit>
  </div>
  <div class="heading-actions">
    <button class="as-link" type="button" (click)="addItem(checklistItemIndex)" title="Add section above">
      <i class="material-icons arrow">arrow_drop_up</i>
      <i class="material-icons">add_circle_outline</i>
    </button>
    <button class="as-link" type="button" (click)="removeItem(checklistItemIndex)" title="Delete this section">
      <i class="material-icons">remove_circle_outline</i>
    </button>
    <button class="as-link" type="button" (click)="addItem(checklistItemIndex + 1)" title="Add section below">
      <i class="material-icons">add_circle_outline</i>
      <i class="material-icons arrow">arrow_drop_down</i>
    </button>
  </div>
</div>