@import "../../../styles/shared";

.item-highlight {
  @extend .flex-repeated;

  .elem-highlight {
    padding: 1.5rem 2rem;
    border: 1px dashed #ccc;
  }
}
.lose-focus {
  background-color: #ccc;
}
.clst-label-heading {
  margin-bottom: 1rem;
}
.clst-tags-display {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1.3em 0;

  .clst-tag {
    display: flex;
    margin: 0 1em 0.2em 0;
    input, clst-tag-display {
      align-self: center;
    }
    :hover {
      cursor: pointer;
    }
  }
  .clst-tag-edit {
    float: right;
    button {
      color: mat-color($clst-app-tertiary);
    }
  }
  .clst-tag-updates {
    padding: 0 0 0 0.7em;
    i {
      font-size: 1.4em;
      padding: 0;
      margin: 0;
      color: mat-color($clst-app-tertiary);
    }
  }
}
.clst-sml-btn {
  @extend .clst-sml-btn-normalize;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-size: 0.8rem;
}
clst-checklist-item-tag-edit {
  padding: 2rem;
  border: 1px dotted #ccc;
  margin-bottom: 1em;
  background-color: #fff;
}