@import "../../styles/shared";

:host {
  @extend .clst-host-animate;
}

ol {
  padding: 0;
  list-style-type: none;
}

li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  &:first-child {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
  }
}

.clst-inline-actions {
  margin-top: 0.2rem;
  .clst-secondary-btn {
    background-color: #fff;
    border: 1px solid lighten(mat-color($clst-app-tertiary), 10%);
    color: darken(mat-color($clst-app-tertiary), 20%);
  }
}

a {
  @extend .clst-sml-btn-normalize;
}

button {
  @extend .mat-typography;
  @extend .clst-sml-btn-normalize;

  border: none;
  cursor: pointer;
  line-height: 0.9rem;

  i {
    margin-top: -3px;
  }

  &.clst-delete {
    background-color: #fff;
    color: mat-color($clst-app-warn);
    border: 1px dotted lighten(mat-color($clst-app-warn), 30%);
  }
}

.clst-btm-pad {
  margin-bottom: 1rem;
}

.spinner {
  margin: 2em .75em;
}