:host {
  display: block;
  min-height: 100vh;
}
.logo {
  color: #fff;
  text-decoration: none;
}
.nav-bar-spacer {
  flex: 1 1 auto;
}
.content-container {
  padding: 2em;
}
::ng-deep {
  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .elem-highlight {
    @extend .flex-container;
    margin: 0.5em 0;
    padding: 1em;
    background-color: white;
  }

  .rep-level {
    padding: 0.5em 0 0.5em 0.5em;
  }
}