<div class="mat-typography" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span><a class="logo" routerLink="home"><img src="../assets/ch.ckl.st.png"> ch.ckl.st</a></span>
            <span class="nav-bar-spacer"></span>
            <span>
                <ng-container *ngIf="media.isActive('xs')">
                    <button type="button" (click)="sidenav.toggle()" mat-button>
                        Menu <i class="material-icons">menu</i>
                    </button>
                </ng-container>
                <ng-container *ngIf="!media.isActive('xs')">
                    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                        <a routerLink="dashboard" mat-button>Dashboard</a>
                        <a routerLink="checklist" mat-button>Create Checklist</a>
                        <a (click)="logOut()" mat-button>Log Out</a>
                    </ng-container>
                    <ng-template #notLoggedIn>
                        <a routerLink="login" mat-button>Login</a>
                    <a routerLink="register" mat-button>Register</a>
                    </ng-template>
                </ng-container>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlex="1 1 auto">
        <mat-sidenav #sidenav fxLayout="column" mode="side" opened="false">
            <button type="button" (click)="sidenav.toggle()">Close Menu</button>
            <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                <a routerLink="dashboard" mat-button>Dashboard</a>
                <a routerLink="checklist" mat-button>Create Checklist</a>
                <a (click)="logOut()" mat-button>Log Out</a>
            </ng-container>
            <ng-template #notLoggedIn>
                <a routerLink="login" mat-button>Login</a>
                <a routerLink="register" mat-button>Register</a>
            </ng-template>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<footer>
    <h1>About</h1>
    <p>ch.ckl.st helps you create, easily use, share and build upon others' checklists.</p>
    <p><i class="material-icons">mail_outline</i> <a href="mailto:email@ch.ckl.st">email@ch.ckl.st</a> &nbsp; <img width="12px" src="../assets/github-logo.png"> On <a href="https://github.com/pablooliva/ch.ckl.st-client">GitHub</a></p>
    <div class="ch-ckl-st">
        <img width="16px" src="../assets/ch.ckl.st.png">
        <p>ch.ckl.st</p>
    </div>
    <p class="copyright">Copyright © 2018 Pablo Oliva. Licensed under <a href="https://opensource.org/licenses/MIT">MIT.</a></p>
</footer>