:host {
  display: block;
  min-height: 100vh;
}
.logo {
  color: #fff;
  text-decoration: none;

  img {
    width: 1.1rem;
    margin-right: 0.1em;
    margin-bottom: -0.15em;
  }
}
.nav-bar-spacer {
  flex: 1 1 auto;
}
mat-sidenav-content {
  background: #eaeaea;
}