@import "./styles/shared";

:host {
  display: block;
  min-height: 100vh;
}
.logo {
  margin-top: 0.3rem;
  display: block;
  padding: 1.4rem 6rem 1.4rem 0;
  color: #fff;
  text-decoration: none;
  &:hover {
    .clst-logo-hover {
      opacity: 1;
      visibility: visible;
      font-size: inherit;
      transition: font-size .5s, opacity .5s, visibility .5s ease-in;
      -moz-transition: font-size .5s, opacity .5s, visibility .5s ease-in;
      -webkit-transition: font-size .5s, opacity .5s, visibility .5s ease-in;
    }
    .clst-logo-display {
      opacity: 0;
      visibility: hidden;
      font-size: 0;
      transition: font-size .5s, opacity .5s, visibility .5s ease-in-out;
      -moz-transition: font-size .5s, opacity .5s, visibility .5s ease-in-out;
      -webkit-transition: font-size .5s, opacity .5s, visibility .5s ease-in-out;
    }
  }
  img {
    width: 1.1rem;
    margin-bottom: -0.15em;
    margin-left: 0.7rem;
  }
  .clst-logo-hover {
    visibility: hidden;
    font-size: 0;
    opacity: 0;
    transition: font-size 1s, opacity 1s, visibility 1s ease-in-out;
    -moz-transition: font-size 1s, opacity 1s, visibility 1s ease-in-out;
    -webkit-transition: font-size 1s, opacity 1s, visibility 1s ease-in-out;
  }
  .clst-logo-display {
    opacity: 1;
    visibility: visible;
    font-size: inherit;
    transition: font-size 1s, opacity 1s, visibility 1s ease-in;
    -moz-transition: font-size 1s, opacity 1s, visibility 1s ease-in;
    -webkit-transition: font-size 1s, opacity 1s, visibility 1s ease-in;
  }
}
.nav-bar-spacer {
  flex: 1 1 auto;
}
.mat-drawer-container {
  background: #e8e8e8;
}
mat-sidenav-container {
  .mat-drawer-content {
    overflow: hidden;
  }
}
mat-sidenav {
  &.mat-drawer {
    background-color: #fafafa;
  }
  ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    a {
      color: mat-color($clst-app-primary);
      background-color: #fff;
      text-align: right;
      border-radius: 0;
      margin-bottom: 0.2rem;
      &:first-child {
        margin-top: 1rem;
      }
      &.clst-close {
        font-weight: 400;
        color: #9c9c9c;
        .material-icons {
          font-size: 1rem;
          line-height: 1rem;
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}
footer {
  padding: 1.5rem 1.2rem;
  font: 400 0.9em Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;

  a {
    color: #e1e7ec;
    text-decoration: none;
  }

  .ch-ckl-st {
    position: relative;

    img {
      position: absolute;
      bottom: 0.1rem;
    }

    p {
      margin: 0;
      margin-left: 1.3rem;
    }

    .material-icons {
      font-size: 0.9rem;
      vertical-align: middle;
      margin-right: 0.2rem;
    }

    .github {
      position: relative;
      bottom: -0.1rem;
    }

    .clst-footer-link {
      display: inline-block;
      margin: 0 0.4rem;
    }
  }

  div {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}