<div class="citem-container" ngClass.lt-sm="clst-lt-sm-res" [formGroup]="itemForm">
  <div class="clst-tags-display" [class.clst-no-tags]="!hasItemTags">
    <ng-container *ngFor="let tag of itemData.checklistTagsEnabled; let i=index">
      <clst-tag-display *ngIf="tag.tag" class="tag-layout"
                        [color]="checklistTags[i].color"
                        [label]="checklistTags[i].label"
                        [icon]="checklistTags[i].icon">
      </clst-tag-display>
    </ng-container>
  </div>
  <div class="cbox-form" [class.clickable]="!isPreview">
    <mat-checkbox id="{{'cbox-' + sectionIndex + '-' + itemIndex}}" [formControlName]="'checked'" [attr.disabled]="isPreview">
      <div class="label">
        <label for="{{'cbox-' + sectionIndex + '-'  + itemIndex}}">{{itemData.label}}</label>
        <div class="secondary" ngClass.lt-sm="clst-lt-sm-res" [innerHTML]="displayHtml" clstResizeElement></div>
      </div>
    </mat-checkbox>
  </div>
</div>