.citem-container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem 0.5rem 0;

  .clst-tags-display {
    flex: 0 0 7rem;
    display: flex;
    flex-direction: column;

    clst-tag-display {
      margin-bottom: 0.2rem;
    }

    &.clst-no-tags {
      display: none;
    }
  }
  .cbox-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    input[type=checkbox] {
      margin-right: 0.8rem;
    }
    &.clickable {
      .label label {
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .label {
      label {
        font-size: 1.1rem;
      }
      .secondary ::ng-deep {
        ol, ul {
          padding: 0 0 0 1.5rem;
        }
      }
    }
  }
}