<div class="citem-container" [formGroup]="itemForm">
  <div class="clst-tags-display" [class.clst-no-tags]="!hasItemTags">
    <ng-container *ngFor="let tag of itemData.checklistTagsEnabled; let i=index">
      <clst-tag-display *ngIf="tag.tag" class="tag-layout"
                        [color]="checklistTags[i].color"
                        [label]="checklistTags[i].label"
                        [icon]="checklistTags[i].icon">
      </clst-tag-display>
    </ng-container>
  </div>
  <div class="cbox-form" (click)="onClick()">
    <input id="{{'cbox-' + sectionIndex + '-' + itemIndex}}" type="checkbox" [formControlName]="'checked'" [attr.disabled]="isPreview">
    <div class="label">
      <label (click)="onLabelClick()" for="{{'cbox-' + sectionIndex + '-'  + itemIndex}}">{{itemData.label}}</label>
      <div class="secondary">{{itemData.flexibleText}}</div>
    </div>
  </div>
</div>