.citem-container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  padding: 0.5rem;

  .clst-tags-display {
    flex: 0 0 7rem;
    display: flex;
    flex-direction: column;

    clst-tag-display {
      margin-bottom: 0.2rem;
    }
  }
  .cbox-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    input[type=checkbox] {
      margin-right: 0.8rem;
    }
    .label label {
      &:hover {
        cursor: pointer;
      }
      font-size: 1rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
}