@import "../../../styles/shared";

.citem-container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem 0.5rem 0;

  .clst-tags-display {
    flex: 0 0 7rem;
    display: flex;
    flex-direction: column;

    clst-tag-display {
      margin-bottom: 0.2rem;
    }

    &.clst-no-tags {
      display: none;
    }
  }
  .cbox-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    input[type=checkbox] {
      margin-right: 0.8rem;
    }
    &.clickable {
      .label label {
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .label {
      width: 100%;
      label {
        font-size: 1.1rem;
      }
      .secondary {
        ::ng-deep {
          ol, ul {
            padding: 0 0 0 1.5rem;
          }
          img {
            @extend .clst-flx-txt-img;
          }
          iframe {
            @extend .clst-flx-txt-iframe;
          }
          .ql-align-center {
            @extend .clst-flx-txt-align-center;
          }
          .ql-align-justify {
            @extend .clst-flx-txt-align-justify;
          }
          .ql-align-right {
            @extend .clst-flx-txt-align-right;
          }
          .ql-video.ql-align-center {
            @extend .clst-flx-txt-video-align-center;
          }
          .ql-video.ql-align-right {
            @extend .clst-flx-txt-video-align-right;
          }
          h1, h2, h3, h4, h5, h6 {
            @extend .clst-h-adjust;
          }
        }
      }
      .clst-lt-sm-res ::ng-deep iframe {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &.clst-lt-sm-res {
    flex-flow: row-reverse wrap;
    .clst-tags-display {
      flex: 1 0 7rem;
      order: 1;
      margin-bottom: 1rem;
      margin-left: 1.9rem;
    }
  }
}