<div [formGroup]="checklistItem" class="item-highlight rep-level">
  <button type="button" (click)="addItem(checklistItemIndex)">+</button>
  <h3>Checklist Item</h3>
  <div class="elem-highlight">
    <label for="label">Label</label>
    <input type="text" id="label" formControlName="label">
    <label for="flexibleText">Description or Introduction</label>
    <input type="text" id="flexibleText" formControlName="flexibleText">
    <label>Tags</label>
    <div formArrayName="checklistTagsEnabled">
      <ng-container *ngFor="let checklistTagEnabled of checklistTagsEnabled.controls; let i=index" [formGroupName]="i">
        <input type="checkbox" formControlName="tag" id="i"><label for="i">{{tags[i].label}}</label>
      </ng-container>
    </div>
    <button type="button" *ngIf="!addTag" (click)="addTag = !addTag">Add tag</button>
    <clst-checklist-item-tag-edit *ngIf="addTag" [checklistItem]="checklistItem" (tagAdded)="addTag = !addTag">
    </clst-checklist-item-tag-edit>
  </div>
  <button type="button" (click)="addItem(checklistItemIndex + 1)">+</button>
</div>