<div [formGroup]="checklistItem" class="item-highlight rep-level">
  <button type="button" (click)="addItem(checklistItemIndex)">+</button>
  <h3>Checklist Item</h3>
  <div class="elem-highlight">
    <label for="label">Label</label>
    <input type="text" id="label" formControlName="label">
    <label for="flexibleText">Description or Introduction</label>
    <input type="text" id="flexibleText" formControlName="flexibleText">
    <label>Tags</label>
    <clst-checklist-item-tags [tagsEnabled]="tagsEnabled">
    </clst-checklist-item-tags>
    <button type="button" *ngIf="!addTag" (click)="addTag = !addTag">Add tag</button>
    <clst-checklist-item-tag-edit *ngIf="addTag" [checklistItem]="checklistItem" (tagAdded)="addTag = !addTag">
    </clst-checklist-item-tag-edit>
  </div>
  <button type="button" (click)="addItem(checklistItemIndex + 1)">+</button>
</div>