<div [formGroup]="sectionForm">
  <h2 *ngIf="sectionData.title">{{sectionData.title}}</h2>
  <h3 *ngIf="sectionData.flexibleText">{{sectionData.flexibleText}}</h3>
  <clst-use-checklist-item *ngFor="let item of sectionData.checklistItems; let i = index"
                           [itemData]="item"
                           [itemForm]="getItem(i)"
                           [itemIndex]="i"
                           [sectionIndex]="sectionIndex"
                           [hasItemTags]="hasItemTags">
  </clst-use-checklist-item>
</div>