<div [formGroup]="sectionForm">
  <h2 class="clst-h-accented" *ngIf="sectionData.title">{{sectionData.title}}</h2>
  <div *ngIf="sectionData.flexibleText" class="as-value" [innerHTML]="displayHtml" clstResizeElement></div>
  <clst-use-checklist-item *ngFor="let item of sectionData.checklistItems; let i = index"
                           [itemData]="item"
                           [itemForm]="getItem(i)"
                           [itemIndex]="i"
                           [sectionIndex]="sectionIndex"
                           [hasItemTags]="hasItemTags">
  </clst-use-checklist-item>
</div>