@import "../../../styles/shared";

.clst-apply-ver-collapse {
  opacity: 0;
  pointer-events: none;
  transition: opacity .15s linear, height .3s ease-in-out;
  -moz-transition: opacity .15s linear, height .3s ease-in-out;
  -webkit-transition: opacity .15s linear, height .3s ease-in-out;
}
.clst-apply-ver-expand {
  opacity: 1;
  pointer-events: auto;
  transition: opacity .15s linear .15s, height .25s ease-in-out;
  -moz-transition: opacity .15s linear .15s, height .25s ease-in-out;
  -webkit-transition: opacity .15s linear .15s, height .25s ease-in-out;
}

.clst-color-transition {
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
}

.clst-expand-icon {
  display: none;
}

:host {
  &.clst-section-collapse {
    .clst-collapseable {
      @extend .clst-apply-ver-collapse;
    }
    .clst-section-container .as-value {
      margin-bottom: 0;
    }
    .clst-section-grp-items-actions {
      @extend .clst-apply-ver-collapse;
      display: none;
    }
    .clst-collapse-icon {
      display: none;
    }
    .clst-expand-icon {
      display: block;
    }
  }
  &.clst-section-expand {
    .clst-collapseable {
      @extend .clst-apply-ver-expand;
    }
    .clst-section-grp-items-actions {
      @extend .clst-apply-ver-expand;
      display: block;
    }
    .clst-collapse-icon {
      display: block;
    }
    .clst-expand-icon {
      display: none;
    }
  }
}

.clst-section-container {
  display: flex;
  flex-direction: column;

  .as-value {
    margin-bottom: 1.2rem;
    ::ng-deep {
      img {
        @extend .clst-flx-txt-img;
      }
      iframe {
        @extend .clst-flx-txt-iframe;
      }
      .ql-align-center {
        @extend .clst-flx-txt-align-center;
      }
      .ql-align-justify {
        @extend .clst-flx-txt-align-justify;
      }
      .ql-align-right {
        @extend .clst-flx-txt-align-right;
      }
      .ql-video.ql-align-center {
        @extend .clst-flx-txt-video-align-center;
      }
      .ql-video.ql-align-right {
        @extend .clst-flx-txt-video-align-right;
      }
      h1, h2, h3, h4, h5, h6 {
        @extend .clst-h-adjust;
      }
    }
  }
  .clst-lt-sm-res ::ng-deep iframe {
    width: 100%;
    max-width: 100%;
  }
  .clst-section-grp-actions-container {
    border-width: 1px;
    border-style: solid;
    border-color: $default-section-emphasis;
    background: $default-section-emphasis;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 0.8rem;

    i.material-icons {
      vertical-align: bottom;
      font-size: 1rem;
      padding: 0.2rem 0 0.2rem 0.6rem;
      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }

    .clst-section-prct-done {
      padding: 0 0 0 0.5rem;
      width: 4.1rem;
      text-align: right;
      font-size: 0.75rem;
    }

    .clst-section-collapse {
      i {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }

  .clst-section-grp-actions-container {
    background: #fff;
    color: $muted-gray;
  }

  &.clst-item-theme-default {
    .clst-section-grp-actions-container {
      @extend .clst-color-transition;
      border-color: $default-section-emphasis;
      .clst-section-prct-done {
        @extend .clst-color-transition;
        color: darken($default-section-emphasis, 25%);
      }
    }
  }

  &.clst-item-theme-started {
    .clst-section-grp-actions-container {
      @extend .clst-color-transition;
      border-color: $theme-started;
      .clst-section-prct-done {
        @extend .clst-color-transition;
        color: darken($theme-started, 20%);
      }
    }
  }

  &.clst-item-theme-completed {
    .clst-section-grp-actions-container {
      @extend .clst-color-transition;
      border-color: $theme-completed;
      .clst-section-prct-done {
        @extend .clst-color-transition;
        color: darken($theme-completed, 25%);
      }
    }
  }

  .clst-ver-collapse {
    margin-top: -0.5rem;
    transition: margin-top .15s linear, height .25s ease-out .15s;
    -moz-transition: margin-top .15s linear, height .25s ease-out .15s;
    -webkit-transition: margin-top .15s linear, height .25s ease-out .15s;
  }
  .clst-ver-collapse-h {
    @extend .clst-ver-collapse;
    margin-top: -1rem;
  }
  .clst-ver-expand {
    margin-top: 0;
    transition: margin-top .15s linear .15s, height .25s ease-out;
    -moz-transition: margin-top .15s linear .15s, height .25s ease-out;
    -webkit-transition: margin-top .15s linear .15s, height .25s ease-out;
  }
}
