<ng-container *ngIf="isLoggedIn | async; else notUser">
    <div class="content-container">
      <div class="flex-container share-actions">
        <ng-container *ngIf="belongsToUser | async; else notBelongs">
          <h1 class="share-text">Share</h1>
          <p class="share-text">With this link you can share your checklist.</p>
          <input [value]="link" type="text">
          <div>
            <button type="button" mat-flat-button ngxClipboard [cbContent]="link" (click)="copyLabel='Copied'">{{copyLabel}}</button>
          </div>
        </ng-container>
        <ng-template #notBelongs>
          <h1 class="share-text">Clone this Checklist</h1>
          <p class="share-text">Use this checklist by cloning it and making it ours.</p>
          <div>
            <button type="button" mat-flat-button (click)="cloneChecklist()">Clone</button>
          </div>
        </ng-template>
      </div>
    </div>
</ng-container>
<ng-template #notUser>
  <div class="content-container">
    <div class="flex-container share-actions">
      <h1 class="share-text">Use this Checklist</h1>
      <div>
        <button type="button" mat-flat-button>Anonymously</button>
        <button type="button" mat-flat-button>As Registered User</button>
      </div>
    </div>
  </div>
</ng-template>
<clst-use-root [sharePreview]="true"></clst-use-root>