@import "../../../styles/shared";

$default-color: #0000008a;
$value-color: #000000de;
$has-error-color: #f44336;
$is-valid-color: #38761d;

:host {
  width: 100%;
}
.clst-desc-display {
  color: $default-color;
  border-top: none;
  width: 100%;
  margin: 0;
  &:focus {
    outline: none;
  }
  &.has-error {
    color: $has-error-color;
    .as-label {
      color: $has-error-color;
    };
    .as-value {
      color: $has-error-color;
    }
  }
  &.has-focus {
    padding-bottom: 0;
    border-top: none;
  }
  .as-value {
    color: $value-color;
    ::ng-deep {
      *:last-child {
        margin-bottom: 0;
      }
      img {
        @extend .clst-flx-txt-img;
      }
      iframe {
        @extend .clst-flx-txt-iframe;
      }
      .ql-align-center {
        @extend .clst-flx-txt-align-center;
      }
      .ql-align-justify {
        @extend .clst-flx-txt-align-justify;
      }
      .ql-align-right {
        @extend .clst-flx-txt-align-right;
      }
      .ql-video.ql-align-center {
        @extend .clst-flx-txt-video-align-center;
      }
      .ql-video.ql-align-right {
        @extend .clst-flx-txt-video-align-right;
      }
      h1, h2, h3, h4, h5, h6 {
        @extend .clst-h-adjust;
      }
    }
  }
  .as-label {
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
    &.is-valid {
      color: $is-valid-color;
    }
  }
  .clst-lt-sm-res ::ng-deep iframe {
    width: 100%;
    max-width: 100%;
  }
}