<div tabindex="0"
     class="clst-desc-display mat-form-field-infix"
     [class.has-error]="hasError"
     [class.has-focus]="inFocus"
     (focusin)="onFocus()">
  <ng-container *ngIf="!inFocus; else displayEditor">
    <ng-container *ngIf="control.value; else noValue">
      <div class="as-label">{{label}}</div>
      <span class="as-value" [innerHTML]="displayHtml"></span>
    </ng-container>
    <ng-template #noValue>{{label}}</ng-template>
  </ng-container>
  <ng-template #displayEditor>
    <div class="as-label" [class.is-valid]="!hasError">{{label}}</div>
    <quill-editor
      class="as-value"
      [formControl]="control"
      [options]="editorOptions"
      (ready)="onReady($event)"
      (change)="onChange($event)"
      (blur)="onBlur()">
    </quill-editor>
  </ng-template>
</div>