<mat-card>
  <div class="content-container">
    <h1>About ch.ckl.st</h1>
    <h3>ch.ckl.st (<strong>ch</strong> <i>e</i> <strong>ckl</strong> <i>i</i> <strong>st</strong>, but with the vowels substituted by dots) is a free service that I decided to develop to make creating and sharing of checklists easier.</h3>
    <p>My professional and personal life are ruled and aided by checklists. I have come across many useful checklists online that have been graciously provided by others, but they were often in a form that was not easily and immediately consumable. I hope that this simple tool will help alleviate that issue, making shareable checklists more functional.</p>
  </div>
</mat-card>