@import "../../styles/shared";

:host {
  @extend .clst-host-animate;
}

i {
  display: inline-block;
  padding: 0 0.1rem 0 0.05rem;
  text-decoration: underline;
  opacity: 0.6;
}

.clst-pg-title {
  padding-top: 0;
}
